fastapi
uvicorn[standard]
sqlalchemy[asyncio]
psycopg[binary]
alembic  # migrations
pydantic-settings  # config
python-dotenv
email-validator
asyncpg
passlib[bcrypt]
python-jose[cryptography]
argon2-cffi
argon2-cffi-bindings